// Post Grid Editor Styles
@import '../../components/post-type-taxonomy/editor.scss';

.cwgb-post-grid-block {
	.cwgb-post-grid-placeholder {
		padding: 20px;
		text-align: center;
		color: #666;
		background-color: #f5f5f5;
		border: 1px dashed #ccc;
		border-radius: 4px;
	}
}



